<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header></header>
    <main></main>
    <footer class="principalFooter">
            <div class="section1">
                <h3 class="headH3">Síguenos</h3>
                <div class="content__footer_follow_icons">
                    <a href="#"><i class="foot_icon_follow fab fa-facebook-f"></i></a>
                    <a href="#"><i class="foot_icon_follow fab fa-instagram"></i></a>
                    <a href="#"><i class="foot_icon_follow fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="section2">
                <h3 class="headH3">Formas de pago</h3>
                <div class="content__footer_payment_icons">
                    <a href="#"><i class="foot_icon_payment fab fa-cc-paypal"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-visa"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-mastercard"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-stripe"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-amex"></i></a>
                </div>
            </div>
            <div class="section2a">
                <a href="#">Home</a>
                <a href="#">Tienda</a>
                <a href="#">Nosotros</a>
                <a href="#">Blog</a>
                <a href="#">Contacto</a>
            </div>
            <div class="section3">
                <a href="#"><img class="logoFooter" src="/images/logo.png" alt="logo"></a>
                <p>© Eco-tías 2021 🌱</p>
            </div>
            <div class="section4">
                <h3 class="headH3">Enlaces rápidos</h3>
                <div class="content__footer_links">
                    <a href="#">Categoría uno</a>
                    <a href="#">Categoría dos</a>
                    <a href="#">Categoría tres</a>
                </div>
            </div>
            <div class="section5">
                <h3 class="headH3">Información</h3>
                <div class="content__footer_links">
                    <a href="#">Aviso de privacidad</a>
                    <a href="#">Formas de envío</a>
                    <a href="#">Políticas de compra</a>
                </div>
            </div>
    </footer>
</body>
</html>