<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/productCart.css" />
    <title>Product Cart</title>
</head>
<header>
    <div class="topbar_header">
        <p class="textSlider">Envíos gratis a partir de $599</p>
        <div class="content__header_follow_icons">
            <a href="#"><i class="head_icon_follow fab fa-facebook-square"></i></a>
            <a href="#"><i class="head_icon_follow fab fa-instagram-square"></i></a>
            <a href="#"><i class="head_icon_follow fab fa-twitter-square"></i></a>
        </div>
    </div>
    
    <div class="nav_mobile">
        <div class="main_nav_mobile">
            <div class="menu_icon">
            <label for="show-nav">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        <div>
            <img class="logo_header" src="/images/logo.png" alt="logo">
        </div>
        <div class="cart_status">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <p>40</p>
        </div>
    </div>
    <input type="checkbox" id="show-nav" hidden>
        <ul class="menu_items">
            <li type="none" class="buscarNav">
                <input type="text" placeholder="Buscar...">
                <a class="botonBuscarNav" href="#"><i class="fas fa-search"></i></a>
            </li>
            <li type="none"><a href="#home">INICIO</a></li>
            <li type="none"><a href="#shop">TIENDA</a></li>
            <li type="none"><a href="#Us">NOSOTROS</a></li>
            <li type="none"><a href="#Blog">BLOG</a></li>
            <li type="none"><a href="#Contact">CONTACTO</a></li>
        </ul>
</div>

<div class="nav_normal">
    <nav class="menu_normal">
        <ul class="menu_items_normal">
            <li type="none"><a href="#home">INICIO</a></li>
            <li type="none"><a href="#shop">TIENDA</a></li>
            <li type="none"><a href="#Us">NOSOTROS</a></li>
            <li type="none"><a href="#Blog">BLOG</a></li>
            <li type="none"><a href="#Contact">CONTACTO</a></li>
        </ul>
    </nav>
        
    <div>
        <img class="logo_header" src="/images/logo.png" alt="logo">
    </div>
    <div class="searchBar">
        <input type="text" placeholder="Buscar...">
        <a class="botonBuscarNav" href="#"><i class="fas fa-search"></i></a>
    </div>

    <div class="cart_status">
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
        <p>40</p>
    </div>
</div>

</header>
<body>
    <div class="titulo-pagina">
        <h1>CARRITO DE COMPRA</h1>
        <a href="#home">SEGUIR COMPRANDO</a>
    </div>
    <div class="titulo-tabla">
        <h4>PRODUCTO</h4>
        <h4 id="precio">PRECIO</h4>
        <h4>CANTIDAD</h4>
        <h4>TOTAL</h4>
    </div>
    <div class="item">
        <img src="/images/shampoo2.JPG" class="imagenes">
        <div class="componentes">
            <h5 class="nombre-item">Shampoo Romero</h5>
            <h6 class="precio-unitario">$180.00 MXN</h6>
            <div class="input-group">
                <input type="button" value="-" class="button-minus" data-field="quantity">
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
        </div>
        
        <h5 class="total-p">$180.00</h5>

    </div>
    <div class="item2">
        <img src="/images/shampoo3.JPG" class="imagenes">
        <div class="componentes">
            <h5 class="nombre-item" id="mandarina"> Shampoo Mandarina</h5>
            <h6 class="precio-unitario">$180.00 MXN</h6>
            <div class="input-group">
                <input type="button" value="-" class="button-minus" data-field="quantity">
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
        </div>
        <h5 class="total-p">$180.00</h5>

    </div>
    <div class="item3">
        <img src="/images/shampoo4.JPG" class="imagenes">
        <div class="componentes">
            <h5 class="nombre-item">Shampoo Rizos</h5>
            <h6 class="precio-unitario">$180.00 MXN</h6>
            <div class="input-group">
                <input type="button" value="-" class="button-minus" data-field="quantity">
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
        </div>
        <h5 class="total-p">$180.00</h5>
    </div>
    <div class="pie-tabla">
        <div class="agregar-nota">
            <h6>AGREGAR UNA NOTA</h6>
            <input type="text">
            <input type="button" value="AGREGAR">
        </div>
        
        <div class="subtotal">
            <h4>SUBTOTAL $720</h4>
            
            <input type="button" value="FINALIZAR COMPRA">           
        </div>

    </div>

    <footer class="principalFooter">
        <div class="section1">
            <h3 class="headH3">Síguenos</h3>
            <div class="content__footer_follow_icons">
                <a href="#"><i class="foot_icon_follow fab fa-facebook-f"></i></a>
                <a href="#"><i class="foot_icon_follow fab fa-instagram"></i></a>
                <a href="#"><i class="foot_icon_follow fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="section2">
            <h3 class="headH3">Formas de pago</h3>
            <div class="content__footer_payment_icons">
                <a href="#"><i class="foot_icon_payment fab fa-cc-paypal"></i></a>
                <a href="#"><i class="foot_icon_payment fab fa-cc-visa"></i></a>
                <a href="#"><i class="foot_icon_payment fab fa-cc-mastercard"></i></a>
                <a href="#"><i class="foot_icon_payment fab fa-cc-stripe"></i></a>
                <a href="#"><i class="foot_icon_payment fab fa-cc-amex"></i></a>
            </div>
        </div>
        <div class="section2a">
            <a href="#">Home</a>
            <a href="#">Tienda</a>
            <a href="#">Nosotros</a>
            <a href="#">Blog</a>
            <a href="#">Contacto</a>
        </div>
        <div class="section3">
            <a href="#"><img class="logoFooter" src="/images/logo.png" alt="logo"></a>
            <p>© Eco-tías 2021 🌱</p>
        </div>
        <div class="section4">
            <h3 class="headH3">Enlaces rápidos</h3>
            <div class="content__footer_links">
                <a href="#">Categoría uno</a>
                <a href="#">Categoría dos</a>
                <a href="#">Categoría tres</a>
            </div>
        </div>
        <div class="section5">
            <h3 class="headH3">Información</h3>
            <div class="content__footer_links">
                <a href="#">Aviso de privacidad</a>
                <a href="#">Formas de envío</a>
                <a href="#">Políticas de compra</a>
            </div>
        </div>
    </footer>
</body>


</html>