<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/productDetail.css" />
    <title>Product Detail</title>
</head>
<body>
    <header>
        <marquee>Envíos gratis a partir de $599</marquee>
        
        <ul class="menu">
            <li><a href="#home">INICIO</a></li>
            <li><a href="#shop">TIENDA</a></li>
            <li><a href="#Us">NOSOTROS</a></li>
            <li><a href="#Blog">BLOG</a></li>
            <li><a href="#Contact">CONTACTO</a></li>
            <img src="/images/Logo-ecotias.JPG" id="logo">
            <div>
                <label for="carrito">
                    <span class="material-icons material-icons-outlined">
                        add_shopping_cart
                    </span>    
                </label>
            </div>
            <div  class="icono-input">
                <img src="/images/search_black_24dp.svg" alt="" id="buscar-i">
                <input id="buscador" type="text" placeholder="Buscar producto" aria-live="polite" />
            </div>
            
            <div>
                <label for="show-profile">
                    <span class="material-icons material-icons-outlined">
                        person
                    </span>
                    
                </label>
                <input id="log-in" type="button" value="Regístrate/Inicia Sesión">
            </div>          
        </ul>
                
        
    </header>
    <div class = "descripcion">
        <div class="imagenes">
            <img src="/images/shampoo.JPG" id="imagen-principal">
            <img src="/images/shampoo.JPG" id="imagen2"> 
            
            <h4 id="reviews">CUSTOMER REVIEWS</h4>
            <p id="t-reviews">
                "Realmente hidrata el cabello y su aroma es delicioso.
                Lo recomiendo ampliamente."
            </p>
            <input type="button" value="Write a Review" id="write-r">
    
        </div>
        <div>
            <h2 id="nombre-articulo">Shampoo de cacao</h2>
            <h2>$180.00 MXN</h2>

            <div class="input-group">
                <input type="button" value="-" class="button-minus" data-field="quantity">
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
            <div class = "agregar">
                <input type="button" value="AGREGAR AL CARRITO" id="agregar">
            </div>
              


        <p id="descripcion-producto"> 
            Este shampoo protege, fortalece, e hidrata en profundidad. Elaborado a base de cacao puro
            y manteca de cacao, este shampoo es un aliado increíble para cabellos rebeldes, 
            ya que suaviza y repara el cabello.
          
        </p>
        <h3>Ingredientes:</h3>
            <p>SCI (Sodium Cocoyl Isethionate), Harina de Avena, Proteína de Chícharo,
                Manteca de Cacao, Agua de Rosas, Aceite de Almendras, y Cacao en Polvo.
            </p>
        <h3>Contenido: 100g</h3>

        <h3>Modo de uso:</h3>
             <p>
                Humedece tu cabello y aplica directamente. Masajea, y luego enjuaga.
                Tras su uso, enjuaga tu sólido y colócalo en un lugar seco, fresco, y lejos del sol.
             </p>
             <img src="/images/WA.JPG" id="wa">
        </div>
              
    </div>

    <div class="t-t-p-i">
        <h2>TAMBIÉN TE PUEDE INTERESAR</h2>
    </div>
    <div class="img-ttpi">
        <div>
            <img src="/images/shampoo2.JPG">
            <h4 style="text-align: center;">
                <a href="s2">Shampoo de Romero</a>
            </h4>
            <h4 style="text-align: center;">$180.00 MXN</h4>
        </div>
        <div>
            <img src="/images/shampoo3.JPG" style="width: 289px; height: 336px;">
            <h4 style="text-align: center;">
                <a href="#s3">Shampoo de Mandarina</a>
            </h4>
            <h4 style="text-align: center;">$180.00 MXN</h4>

        </div>
        <div>
            <img src="/images/shampoo4.JPG" style="width: 289px; height: 336px;">
            <h4 style="text-align: center;">
                <a href="#s4">Shampoo Cabello Rizado</a>
            </h4>
            <h4 style="text-align: center;">$180.00 MXN</h4>

        </div>
               

    </div>
    <div id="b-regresar">
        <input type="button" value=" ← REGRESAR" style="font-weight: bold; border-color: black;
        border-radius: 3px; background-color: cornsilk;" >
    </div>

//FOOTER//   
    <footer class="bigFooter">
        <div class="principalFooter">
            <div>
                <h3>Síguenos</h3>
                <div class="content__footer_follow_icons">
                    <a href="#"><i class="foot_icon_follow fab fa-facebook-f"></i></a>
                    <a href="#"><i class="foot_icon_follow fab fa-instagram"></i></a>
                    <a href="#"><i class="foot_icon_follow fab fa-twitter"></i></a>
                </div>
            </div>
            <div>
                <h3>Formas de pago</h3>
                <div class="content__footer_payment_icons">
                    <a href="#"><i class="foot_icon_payment fab fa-cc-paypal"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-visa"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-mastercard"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-stripe"></i></a>
                    <a href="#"><i class="foot_icon_payment fab fa-cc-amex"></i></a>
                </div>
            </div>
            <div class="medium_footer">
                <a href="#"><img class="logoFooter" src="/images/logo.png" alt="logo"></a>
                <p>© Eco-tías 2021 🌱</p>
            </div>
            <div>
                <h3>Enlaces rápidos</h3>
                <div class="content__footer_links">
                    <a href="#">> Categoría uno</a>
                    <a href="#">> Categoría dos</a>
                    <a href="#">> Categoría tres</a>
                </div>
            </div>
            <div>
                <h3>Información</h3>
                <div class="content__footer_links">
                    <a href="#">> Aviso de privacidad</a>
                    <a href="#">> Formas de envío</a>
                    <a href="#">> Políticas de compra</a>
                </div>
            </div>
        </div>
    </footer>    
   
    
</body>
</html>