<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="topbar_header">
            <p class="textSlider">Envíos gratis a partir de $599</p>
            <div class="content__header_follow_icons">
                <a href="#"><i class="head_icon_follow fab fa-facebook-square"></i></a>
                <a href="#"><i class="head_icon_follow fab fa-instagram-square"></i></a>
                <a href="#"><i class="head_icon_follow fab fa-twitter-square"></i></a>
            </div>
        </div>
<!-- ---------------- Navegación mobile ---------------- -->
        <div class="nav_mobile">
            <div class="main_nav_mobile">
                <div class="menu_icon">
                <label for="show-nav">
                    <i class="fas fa-bars"></i>
                </label>
            </div>
            <div>
                <img class="logo_header" src="/images/logo.png" alt="logo">
            </div>
            <div class="cart_status">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <p>40</p>
            </div>
        </div>
        <input type="checkbox" id="show-nav" hidden>
            <ul class="menu_items">
                <li type="none"><a id="loging_option" href="#home"><i class="fas fa-sign-in-alt"></i> Registrate / Inicia sesión</a></li>
                <li type="none" class="buscarNav">
                    <input type="text" placeholder="Buscar...">
                    <a class="botonBuscarNav" href="#"><i class="fas fa-search"></i></a>
                </li>
                <li type="none"><a href="#home">INICIO</a></li>
                <li type="none"><a href="#shop">TIENDA</a></li>
                <li type="none"><a href="#Us">NOSOTROS</a></li>
                <li type="none"><a href="#Blog">BLOG</a></li>
                <li type="none"><a href="#Contact">CONTACTO</a></li>
            </ul>
    </div>
<!-- ---------------- Navegación normal ---------------- -->
    <div class="nav_normal">
        <nav class="menu_normal">
            <ul class="menu_items_normal">
                <li type="none"><a href="#home">INICIO</a></li>
                <li type="none"><a href="#shop">TIENDA</a></li>
                <li type="none"><a href="#Us">NOSOTROS</a></li>
                <li type="none"><a href="#Blog">BLOG</a></li>
                <li type="none"><a href="#Contact">CONTACTO</a></li>
            </ul>
        </nav>

        <div>
            <img class="logo_header" src="/images/logo.png" alt="logo">
        </div>
        <div class="login_search">
            <a id="loging_option_normal" href="#home">Registrate / Inicia sesión <i class="fas fa-sign-in-alt"></i></a>
            <div class="searchBar">
                <input type="text" placeholder="Buscar...">
                <a class="botonBuscarNav" href="#"><i class="fas fa-search"></i></a>
            </div>
        </div>

        <div class="cart_status">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <p>40</p>
        </div>
    </div>
    </header>

        <h2 id="registrate">REGÍSTRATE</h2>

        <div>
            <form action="/register" method="POST" class="campos">
                <p class="c">
                    <input type="text" name="nombre" placeholder="Nombre(s)*" required>
                </p>
                <p class="c">
                    <input type="text" name="apellido" placeholder="Apellidos*" required>
                </p>
                <p class="c">
                    <input type="email" name="email" placeholder="Ingrese su e-mail*" required>
                </p>
                <p id="password">

                    <input type="password" name="contraseña" placeholder="Contraseña*" required id="psswrd">
                    <button><i class="far fa-eye-slash"></i></button>
                    
                </p>
                <p id="p-caract">Mínimo 8 caracteres</p>
            </form>
            
        </div>
        <div class="aceptar">
            <input type="checkbox" name="terminos">
            <p>He leído y acepto los <a href="#Terminos">Términos y condiciones</a> y el <a href="#Aviso">Aviso de privacidad</a></p>
        </div>
        <div class="aceptar">
            <input type="checkbox" name="ofertas">
            <p>Quiero recibir ofertas y promociones en mi correo electrónico</p>
        </div>
        <div id="button-registrar">
            <button id="b-r">REGISTRAR</button>
        </div>
        <div id="IS">
            <p>¿Ya tienes cuenta? <a href="#Inicia">Inicia Sesión</a></p>
        </div>
    <footer class="principalFooter">
                <div class="section1">
                    <h3 class="headH3">Síguenos</h3>
                    <div class="content__footer_follow_icons">
                        <a href="#"><i class="foot_icon_follow fab fa-facebook-f"></i></a>
                        <a href="#"><i class="foot_icon_follow fab fa-instagram"></i></a>
                        <a href="#"><i class="foot_icon_follow fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="section2">
                    <h3 class="headH3">Formas de pago</h3>
                    <div class="content__footer_payment_icons">
                        <a href="#"><i class="foot_icon_payment fab fa-cc-paypal"></i></a>
                        <a href="#"><i class="foot_icon_payment fab fa-cc-visa"></i></a>
                        <a href="#"><i class="foot_icon_payment fab fa-cc-mastercard"></i></a>
                        <a href="#"><i class="foot_icon_payment fab fa-cc-stripe"></i></a>
                        <a href="#"><i class="foot_icon_payment fab fa-cc-amex"></i></a>
                    </div>
                </div>
                <div class="section2a">
                    <a href="#">Home</a>
                    <a href="#">Tienda</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Blog</a>
                    <a href="#">Contacto</a>
                </div>
                <div class="section3">
                    <a href="#"><img class="logoFooter" src="/images/logo.png" alt="logo"></a>
                    <p>© Eco-tías 2021 🌱</p>
                </div>
                <div class="section4">
                    <h3 class="headH3">Enlaces rápidos</h3>
                    <div class="content__footer_links">
                        <a href="#">Categoría uno</a>
                        <a href="#">Categoría dos</a>
                        <a href="#">Categoría tres</a>
                    </div>
                </div>
                <div class="section5">
                    <h3 class="headH3">Información</h3>
                    <div class="content__footer_links">
                        <a href="#">Aviso de privacidad</a>
                        <a href="#">Formas de envío</a>
                        <a href="#">Políticas de compra</a>
                    </div>
                </div>
    </footer>
</body>
</html>