*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(70deg, #F2FFD3, #B8FFDF);;
}

#main-container{
    background-color: none;
    
    width: 100vw;
    display: flex;
    margin:2% 0 2% 0;
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    gap: 20px;
    padding: 2%;
    border-radius: 4rem;
}

.m-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 4%; 
    
}
.m-info label{
    font-weight: 500;
}


.buttonAction_save, .buttonAction_delete {
    margin: 0rem 5rem 1rem;
}

.buttonAction_save button, .buttonAction_delete  button {
    padding: 0 1.2em;
    border: 1px solid transparent;
    border-radius: 99px;
    min-height: 2.3rem;
    max-width: 100%;
    font-weight: 500;
}

.buttonAction_save button {
    background-color: #52a046;
    color: white;
}

.buttonAction_delete  button {
    background-color: #ff0000;
    color: white;
}

.buttonAction_save button:hover {
    background-color: #5cb14f;
}

.buttonAction_delete button:hover {
    background-color: rgb(210, 0, 0);
}

.buttonAction_save button:hover, .buttonAction_delete button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}


.buttonAction_delete, .buttonAction_save{
    display: flex;
    justify-content: center;

}

input{
    height: 35px;
    font-size: medium;
    border-radius: 5px;
}
#caract8{
    font-weight:lighter;
    color: #3B7596;
}

@media (min-width: 1024px){
    #main-container{
        background-color: #F6E9FB;
        width: 40vw;
        margin:2% 30% 2% 30%;
    }
    .m-info{
        margin: 0;
        
    }
}

@media (min-width: 780px){
    #main-container{
        background-color: #F6E9FB;
        width: 60vw;
        margin:2% 20% 2% 20%;
    }
    
}