/*BACKGROUND EXCLUSIVO PARA REGISTER*/
body{
    background-color:#02a35a;
}
/*BANNER*/
.signup_banner{
    display: none;
}

/*TITULO*/
#registrate{
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
/*CAMPOS A LLENAR DEL FORMULARIO*/
.register_essential{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background:  rgba(255,255,255, 0.3);
    border-radius: 1rem;
    /*z-index: 2;*/
    backdrop-filter: blur(30px) saturate(100%) contrast(48%) brightness(120%);;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    
    
    margin: 8% 8%;
    
    
    

}
.campos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20%;
    margin-bottom: 10%;
    outline:olivedrab;
    
    
}
.c{
    margin-bottom: 24px;
    
}
.campos input{
    width: 80vw;
    height: 33px;
    border-radius: 99px;
    border: 1px solid #4c8444;
}
#password{
    display: flex;
}
#password button{
    border: 1px solid #4c8444;
    border-radius: 99px;
    background-color: white;
    width: 33px;
    

}
#password input{

    
    width: 71vw;
    height: 33px;
    
}

.campos input:focus{
    border-width:medium;
    border-radius: 99px;
    border: solid #4c8444;

}
/*REQUERIMIENTOS PARA LA CONTRASEÑA*/
#p-caract p{
    font-size: 9px;
    transform: translateX(-23vw);
}
/*ENLACES*/
a{
    text-decoration: none;
    color: rgba(rgb(27, 150, 48));
}
/*APARTADO ACEPTAR TÉRMINOS Y CONDICIONES*/
.aceptar{
    display: flex;
    font-size: 10px;
    gap: 4px;
    margin-top: 18px;
    align-items: center;
    
    
}
.aceptar input{
    width: 18px;
}
/*BOTÓN REGISTRAR*/
#button-registrar{
    display: flex;
    justify-content: center;
    
    padding: 8px;
    
    
    color: black;
}
#b-r{
    padding: 0 1.2em;
    border: 1px solid transparent;
    border-radius: 99px;
    min-height: 2.3rem;
    max-width: 100%;
    background-color: #52a046;
    color: white;
    font-weight: 500;
}

/*APARTADO PARA INICIAR SESIÓN*/
#IS{
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 14px;
    
}

/*PANTALLA 768px*/
@media (min-width: 768px){
    .aceptar{
        justify-content: center;
        font-size: 14px;

    }
    #password input{
        width:75vw;
    }


    #IS{
        font-size: 16px;
    }

    #p-caract{
        position: relative;
        right: 50px;
        font-size: 10px;
    }
    
}


/*PANTALLA 1024px*/
@media (min-width: 1024px){
    .register_essential{
        width: 57vw;
        left: 15%;
    }
    
    .c{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 550px;
    }
    #password{
        width: 543px;
    }
    #password button{
        width: 50px;
    }
    #p-caract{
        position: relative;
        right: -3vw;
        font-size: 10px;
    }
    
}

@media (min-width: 1280px){
    #p-caract{
        right: -7vw;
    }

    #p-caract p{
        font-size: 9px;
        transform: translateX(-17vw);
    }
}
