/*TITULO*/
#registrate{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*CAMPOS A LLENAR DEL FORMULARIO*/
.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 60vw;
    margin-left: 20%;
    gap:10%
}
.c{
    margin-bottom: 12px;
    border-radius: 5px;
}
#password{
    display: flex;
    width: 55vw;
    
}
#psswrd{
    width: 40vw;
    margin-left: 18px;
}
/*REQUERIMIENTOS PARA LA CONTRASEÑA*/
#p-caract{
    font-size: 9px;
    margin-left: -80px;

}
/*ENLACES*/
a{
    text-decoration: none;
    color: rgba(rgb(27, 150, 48));
}
/*APARTADO ACEPTAR TÉRMINOS Y CONDICIONES*/
.aceptar{
    display: flex;
    font-size: 11px;
    gap: 4px;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 2rem;
}

/*BOTÓN REGISTRAR*/
#button-registrar{
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 8px;
    position: relative;
    left: 10rem;
    color: black;
}
#b-r{
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    width: 100px;
    height: 40px;
}
/*APARTADO PARA INICIAR SESIÓN*/
#IS{
    position: relative;
    top: 2rem;
    left: 6rem;
    font-size: 14px;
    
}
