/*TITULO*/
#registrate{
    text-align: center;
    margin-top: 2rem;
    
}
/*CAMPOS A LLENAR DEL FORMULARIO*/
.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20%;
    margin-bottom: 10%;
    
}
.c{
    margin-bottom: 24px;
    
}
.campos input{
    width: 80vw;
    height: 30px;
    border-radius: 99px;
    border: 1px solid #4c8444;
}
#password{
    display: flex;
}
#password button{
    border: 1px solid #4c8444;
    border-radius: 99px;
    background-color: white;
    width: 28px;
    

}
#password input{

    
    width: 73vw;
    height: 30px;
    
}

.campos input:focus{
    border-width:medium;

}
/*REQUERIMIENTOS PARA LA CONTRASEÑA*/
#p-caract{
    font-size: 9px;
    margin-left: -165px;

}
/*ENLACES*/
a{
    text-decoration: none;
    color: rgba(rgb(27, 150, 48));
}
/*APARTADO ACEPTAR TÉRMINOS Y CONDICIONES*/
.aceptar{
    display: flex;
    font-size: 11px;
    gap: 4px;
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 2rem;
}

/*BOTÓN REGISTRAR*/
#button-registrar{
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 8px;
    position: relative;
    left: 10rem;
    color: black;
}
#b-r{
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    font-weight: bolder;
    color: white;
    width: 100px;
    height: 40px;
}
/*APARTADO PARA INICIAR SESIÓN*/
#IS{
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    font-size: 15px;
    
}

/*PANTALLA 768px*/
@media (min-width: 761px){
    /*TITULO*/
    #registrate{
        font-size: 26px;
    }
    /*CAMPOS A LLENAR*/
    .campos{
        
        gap: 20px;
    }
    form input{
        width: 300px;
        height: 30px;
    }
    #psswrd{
        width: 266px;
        margin-left: 61px;
    }
    #password button{
        width: 32px;
    }
    #p-caract{
        position: relative;
        left: -54px;
        top: -20px;
    }
    .aceptar p{
        font-size: 14px;
        
    }
    .aceptar{
        justify-content: center;
        align-items: center;
    }
    #b-r{
        position: relative;
        right: -170px;
    }
    #IS{
        font-size: 14px;
        position: relative;
        left: 265px;
    
    }
}


/*PANTALLA 1024px*/
@media (min-width: 1024px){
    /*TITULO*/
    #registrate{
        font-size: 30px;
        margin-top: 70px;
        margin-bottom: 60px;

    }
    /*CAMPOS A LLENAR*/
    .campos{
        gap: 25px;
    }
    form input{ 
        width: 500px;
        height: 40px;
    }
    #psswrd{
        width: 460px;
        margin-left: 126px;
    }
    #password button{
        width: 40px;

    }
    #p-caract{
        position: relative;
        left: -158px;
        top: -20px;
    }
    .aceptar{
        margin-top: 36px;
        justify-content: center ;
        
    }
    .aceptar p{
        font-size: 18px;
    }
    .aceptar input{
        width: 60px;
    }
    #b-r{
        position: relative;
        left: 450px;
        top: 20px;
        width: 300px;
    }
    #IS{
        font-size: 18px;
        left: 520px;
        margin-bottom: 80px;
    }

}