*{
    box-sizing: border-box;
}
body{
    background-color: white;
	min-height: 100vh;
	margin: 0;
}

#main-container{
    background: linear-gradient(#C6EA8D,#FFBBBB);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;    
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 5% 5%;
}
#editUser{
    border-bottom: 1px solid #f0f0f0;
	background-color:transparent;
	padding: 20px 40px;
}

#editUser h2 {
	margin: 0;
}
.m-info{
    margin-bottom: 10px;
	padding: 10px;
}
.m-info label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
}
.m-info input{
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.m-info input:focus {
	outline: 0;
	border-color: #c563e6;
}
.m-info span{
    position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}


.buttonAction_save, .buttonAction_delete {
    margin: 0rem 5rem 1rem;
}

.buttonAction_save button, .buttonAction_delete  button {
    padding: 0 1.2em;
    border: 1px solid transparent;
    border-radius: 99px;
    min-height: 2.3rem;
    max-width: 100%;
    font-weight: 500;
}

.buttonAction_save button {
    background-color: #52a046;
    color: white;
}

.buttonAction_delete  button {
    background-color: #ff0000;
    color: white;
}

.buttonAction_save button:hover {
    background-color: #5cb14f;
}

.buttonAction_delete button:hover {
    background-color: rgb(210, 0, 0);
}

.buttonAction_save button:hover, .buttonAction_delete button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}


.buttonAction_delete, .buttonAction_save{
    display: flex;
    justify-content: center;

}


#caract8{
    font-weight:lighter;
    color: #3B7596;
}
.errores{
    background-color:#5cb14f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.errores ul{
    list-style: none;
}

@media (min-width: 780px){
    #main-container{
        margin: 5% 25% 5% 25%;
        
    }
    
}