.principalHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos del body
   ======================================================================================================================================= */
/* -------- Slider -------- */
.section_slider_home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/hojas-verdes-poderosas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
}

.sliderText {
  text-align: center;
  color: white;
}

.sliderText h1,
.sliderText h2 {
  background-color: rgba(27, 41, 25, 0.7);
  padding: 4px 12px;
  margin: 8px;
}

.sliderText h1 {
  font-size: 1.7rem;
}
.sliderText h2 {
  font-size: 1.5rem;
}

/* -------- Features block -------- */
.section_features_home {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 7px 10px;
}

.featureHome {
  margin: 8px 0;
  cursor: default;
}

.featureHome:hover {
  color: #51834b;
}

.section_features_home i {
  font-size: 32px;
  min-width: 32px;
  padding-bottom: 7px;
}

.section_features_home p {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 7px;
}

/* -------- Category block -------- */
.product_category {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 4px;
  background-color: white;
}

/* -------- Link del producto (img, p) -------- */
.productLink {
  color: black;
  text-decoration: none;
}

/* -------- Lista de productos -------- */
.productList_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8px;
  padding-bottom: 4px;
}

/* -------- Producto individual -------- */
.product_individual {
  text-align: center;
  margin: 8px;
  padding: 14px;
  border: 1px solid #285c0066;
  /* border-radius: 2.5%; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.04) 0px 0px 0px 1px;
  transition: 300ms;
}

.product_individual:hover {
  box-shadow: #b0ccad 0px 5px 15px 0px;
}

/* -------- Producto individual imágen -------- */
.product_individual img {
  width: 100%;
}

/* -------- Producto individual nombre -------- */
.product_name {
  font-weight: 500;
}

/* -------- Producto individual precio -------- */
.price {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* -------- Botón agregar al carrito -------- */
.addCartButton {
  font-size: 0.85rem;
  padding: 0 1.2em;
  border: 1px solid transparent;
  border-radius: 99px;
  min-height: 2.3rem;
  max-width: 100%;
  background-color: #52a046;
  color: white;
  font-weight: 500;
}

.addCartButton:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #4bac3d;
  cursor: pointer;
}

/* -------- Separator -------- */
.separator_dots {
  border: 0;
  border-bottom: 2px dotted #b0ccad;
  width: 0;
  animation: separator_width 1.5s ease-out forwards;
}

@keyframes separator_width {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/* -------- Newsletter block -------- */
.section_newsletter_home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/images/newsl_background.jpg");
  background-position: top;
  background-size: cover;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}

.newsletter_img {
  display: none;
}

.newsletter_info {
  text-align: center;
  color: white;
}

.section_newsletter_home p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 8px;
}

.enterEmail {
  margin-top: 4px;
  margin-bottom: 0.25rem;
  padding: 0 16px;
  border-radius: 10px;
  border: 2px solid #4bac3d;
  height: 2.5rem;
  width: 90%;
  font-size: 0.97rem;
  line-height: 1.5rem;
  outline: 0;
}

.buttonNewsletter {
  padding: 0 1.2em;
  border: 1px solid transparent;
  border-radius: 99px;
  min-height: 2.5em;
  max-width: 100%;
  background-color: #52a046;
  color: white;
  font-weight: 500;
}

.buttonNewsletter:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #4bac3d;
  cursor: pointer;
}

/* -------- Blog block -------- */
.blogLink {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.blogLink:hover {
  color: #4bac3d;
}

.section_blog_home h2 {
  text-align: center;
}

.latest_blogposts {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
}

.entradaBlog {
  text-align: center;
}

.entradaBlog img {
  width: 100%;
  padding: 5px 14px;
}

/* -------------------- MEDIA QUERY 768px -------------------- */
@media (min-width: 768px) {
  /* -------- Área principal -------- */
  main h2 {
    font-size: 2rem;
  }

  /* -------- Slider -------- */
  .section_slider_home {
    height: 650px;
  }

  .sliderText h1 {
    font-size: 2.8rem;
  }
  .sliderText h2 {
    font-size: 2.7rem;
  }

  /* -------- Category block -------- */
  .product_individual {
    flex-basis: 47%;
    max-width: 47%;
  }

  .product_name {
    font-size: 1.05rem;
  }

  /* -------- Newsletter block -------- */
  .suscribe_text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 12px;
  }

  .newsletter_img {
    display: block;
    text-align: center;
    width: 50%;
  }

  .newsletter_img img {
    width: 80%;
  }

  .newsletter_info {
    width: 50%;
  }

  .enterEmail {
    width: 70%;
    height: 2.7rem;
  }

  .buttonNewsletter {
    font-size: 1.1rem;
    padding: 0 1.6em;
    border: 1px solid transparent;
    border-radius: 99px;
    min-height: 2.5em;
    max-width: 100%;
    background-color: #52a046;
    color: white;
    font-weight: 500;
  }

  /* -------- Blog block -------- */
  .latest_blogposts {
    justify-content: space-evenly;
  }

  .entradaBlog {
    flex-basis: 33%;
    max-width: 33%;
  }
}

/* -------------------- MEDIA QUERY 1024px -------------------- */
@media (min-width: 1024px) {
  /* -------- Features blocks -------- */
  .section_features_home {
    display: flex;
    flex-wrap: nowrap;
  }

  .featureHome {
    padding: 0 8px;
    width: 85%;
    cursor: pointer;
  }

  /* -------- Category block -------- */
  .product_individual {
    flex-basis: 23%;
    max-width: 23%;
  }

  /* -------- Newsletter block -------- */
  .section_newsletter_home p {
    font-size: 1.5rem;
  }

  /* -------- Blog block -------- */
  .latest_blogposts {
    /* justify-content: center; */
  }

  .entradaBlog {
    flex-basis: 30%;
  }
}

/* -------------------- MEDIA QUERY 1280px -------------------- */
@media (min-width: 1280px) {
  /* -------- Slider -------- */
  .sliderText h1 {
    font-size: 3.7rem;
  }

  .sliderText h2 {
    font-size: 2.8rem;
  }

  /* -------- Newsletter block -------- */
  .section_newsletter_home p {
    font-size: 2rem;
  }

  /* -------- Category block -------- */
  .product_individual {
    flex-basis: 15%;
    max-width: 15%;
  }

  .product_name {
    font-size: 1.1rem;
  }

  /* -------- Blog block -------- */
  .entradaBlog img {
    width: 75%;
    padding: 5px 40px;
  }

  .entradaBlog p {
    padding: 0 40px;
  }
}
