/*
 * ESTE ARCHIVO INCLUYE LOS ESTILOS DEL DOCUMENTO GENERAL, HEADER Y FOOTER.
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
/* Estilos del documento (general)
   ======================================================================================================================================= */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 216px);
}

/* Estilos del header
   ======================================================================================================================================= */
/* ---- Contenedores topbar y header principal ---- */

#menu_btn:hover {
  cursor: pointer;
}

.nueva {
  padding-left: 10px;
  align-items: flex-end;
}
.main_nav_mobile,
.topbar_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.salir {
  align-items: right;
  color: black;
}
.nav_normal {
  display: none;
}
/* ---- Topbar header ---- */
.topbar_header {
  background-color: #eeffec
  border: solid rgba(144, 238, 144, 0.4);
  border-width: 0 0 1px;
}

.content__header_follow_icons {
  margin-top: 2px;
  margin-bottom: 2px;
}

.textSlider {
  font-size: 15px;
}

.head_icon_follow {
  font-size: 19px;
  min-width: 19px;
}
.head_icon_follow:hover {
  opacity: 0.8;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-instagram-square {
  color: #3f729b;
}

.fa-twitter-square {
  color: #55acee;
}

/* ---- Contenedor principal mobile ---- */

.main_nav_mobile {
  background-color: #ddffd9;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu_icon {
  text-align: center;
  font-size: 30px;
  min-width: 30px;
}

.logo_header {
  width: 70px;
  height: 70px;
}

/* ---- Navegación items menú mobile ---- */
.menu_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(229, 255, 232, 0.95);
  width: 100%;
  transform: translateY(0);
  transition: 0.2s linear;
  /* transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; */
  transition-delay: 0s, 0s, 0.3s;
  position: absolute;
  left: -100%;
  z-index: 2;
}

.menu_items.active {
  left: 0%;
  /* transform: translateY(1); */
}

#loging_option {
  font-size: 18px;
  font-weight: 500;
}

#loging_option img {
  vertical-align: middle;
}

.buscarNav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgba(0, 0, 0, 0.05);
  border-width: 0 0 1px;
  color: black;
  text-decoration: none;
  padding: 7px 0;
}

.buscarNav input {
  display: block;
  font-size: 15px;
  text-decoration: none;
  width: 180px;
  padding: 0 0.55rem;
  line-height: 1.7rem;
  outline: 0;
  border-radius: 10px;
  border: 2px solid #51834b;
}

.buscarNav input:hover {
  border: 2px solid #4c8444b4;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_items .botonBuscarNav {
  font-size: 19px;
  margin-left: 5px;
  border: 0;
}

.menu_items .botonBuscarNav:hover {
  margin-left: 5px;
  background-color: transparent;
  border: 0;
}

.menu_items a {
  display: block;
  border: solid rgba(0, 0, 0, 0.05);
  border-width: 0 0 1px;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
}

.menu_items a:hover {
  background-color: rgb(208, 255, 190);
}

/* ---- Estilo al carrito header ---- */
.cart_status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e5ffe8;
  border: 1px solid #1a522259;
  padding: 2px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20%;
}
.cart_status:hover {
  background-color: rgb(208, 255, 190);
}

.cart_status a {
  margin-right: 4px;
  font-size: 17px;
  color: black;
}

.cart_status p {
  font-size: 15px;
}

/* Estilos del footer
   ======================================================================================================================================= */
/* ---- Contenedor footer principal ---- */
.principalFooter {
  background-color: #ddffd9;
  padding-top: 0.5rem;
  width: 100%;
  /* position: absolute;
    bottom: 0; */
}

/* ---- Estilo a iconos de pago footer ---- */
.foot_icon_payment {
  color: rgba(16, 53, 16, 0.712);
  margin: 0.125rem;
  padding: 0px;
  font-size: 1.875rem;
  min-width: 1.875rem;
}

.foot_icon_payment:hover {
  opacity: 0.8;
}

/* ---- Secciones escondidas en mobile ---- */
.section1,
.section2 h3,
.section3 a,
.section4,
.section5 {
  display: none;
}

/* ---- Justificando menú footer mobile, iconos de pago y copyright ---- */
.section2a,
.content__footer_payment_icons,
.section3 p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.125rem;
}

/* ---- Estilo al copyright  ---- */
.section2a {
  margin-top: 0.5rem;
}

.section3 p {
  font-size: 0.9375rem;
  font-weight: 500;
  margin-top: 0.3125rem;
}

/* ---- Estilo a enlaces de menú footer mobile ---- */
.content__footer_payment_icons a,
.section2a a {
  text-decoration: none;
  color: black;
  font-size: 0.98rem;
}

/* -------------------- MEDIA QUERY 768px -------------------- */

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 294px);
  }

  /* ---- HEADER HEADER HEADER HEADER ---- */
  .menu_items a {
    font-size: 27px;
    font-weight: normal;
  }

  .buscarNav input {
    font-size: 16px;
    line-height: 1.8rem;
  }

  /* ---- Topbar header ---- */
  .textSlider {
    font-size: 18px;
  }

  .head_icon_follow {
    font-size: 25px;
    min-width: 25px;
  }

  /* ---- Nav items menú ---- */
  .nav_normal {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .menu_icon {
    text-align: center;
    font-size: 35px;
    min-width: 35px;
  }

  .logo_header {
    width: 90px;
    height: 90px;
  }

  .cart_status {
    min-width: 43px;
    min-height: 43px;
  }
  .cart_status a {
    font-size: 20px;
    color: black;
  }

  .cart_status p {
    font-size: 18px;
  }

  /* ---- FOOTER FOOTER FOOTER FOOTER ---- */
  /* ---- Contenedor footer principal y generales---- */
  .principalFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px 15px 0px 15px;
  }
  .content__footer_follow_icons a,
  .content__footer_payment_icons a,
  .area2 a {
    text-decoration: none;
  }
  .headH3 {
    margin-bottom: 5px;
  }

  /* ----PRIMER BLOQUE FOOTER---- */
  .section1 {
    /* display:flex;
        flex-direction: column; */
    display: none;
  }

  .content__footer_follow_icons {
    display: flex;
    justify-content: space-between;
  }

  .foot_icon_follow {
    color: #ffffff;
    background-color: #2478ba;
    display: flex;
    justify-content: center;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    padding: 0.4375rem;
    border-radius: 50%;
    font-size: 1.25rem;
    min-width: 1.25rem;
  }

  .fa-facebook-f {
    background-color: #3b5998;
  }

  .fa-instagram {
    background-color: #3f729b;
  }

  .fa-twitter {
    background-color: #55acee;
  }

  .fa-facebook-f:hover,
  .fa-instagram:hover,
  .fa-twitter:hover {
    opacity: 0.8;
  }

  /* ----SEGUNDO BLOQUE FOOTER---- */
  .section2a {
    display: none;
  }

  .section2 h3 {
    display: block;
  }

  .foot_icon_payment {
    margin: 0rem 0.125rem 0rem 0.125rem;
    font-size: 2.3rem;
    min-width: 2.3rem;
  }
  /* ----TERCER BLOQUE FOOTER---- */
  .section3 {
    display: block;
    text-align: center;
    font-size: 0.9375rem;
  }

  .section3 a {
    display: block;
  }

  .logoFooter {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    width: 5.625rem;
    height: 5.625rem;
  }

  .section3 p {
    padding-top: 1rem;
    margin-bottom: 0.4375rem;
    box-sizing: content-box;
  }

  /* ----CUARTO Y QUINTO BLOQUE FOOTER---- */
  .section4 {
    display: none;
  }

  .section5 {
    display: flex;
    flex-direction: column;
  }

  .content__footer_links a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 0.9375rem;
  }

  .content__footer_links a::before {
    content: "> ";
  }
}

/* -------------------- MEDIA QUERY 1024px -------------------- */
@media (min-width: 1024px) {
  main {
    min-height: calc(100vh - 301px);
  }
  /* ---- Topbar header ---- */
  .textSlider {
    font-size: 18px;
  }

  .head_icon_follow {
    font-size: 27px;
    min-width: 27px;
  }

  /* ---- Navegación items menú ---- */

  .nav_mobile {
    display: none;
  }

  .nav_normal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ddffd9;
  }

  .menu_normal {
    display: flex;
    justify-content: space-around;
    /* font-size: 36px; */
  }
  .menu_items_normal {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    min-width: 440px;
  }

  .menu_items_normal a {
    color: black;
    text-decoration: none;
  }

  .linkEffect::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s;
  }

  .linkEffect:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  /* .menu_items_normal a:hover::before {
        content: "> ";
    } */

  /* ---- Estilo logo header ---- */
  .logo_header {
    width: 95px;
    height: 95px;
  }

  .login_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  /* ---- Estilo Iniciar sesión header ---- */
  #loging_option_normal {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
    /* display: flex; */
  }

  #loging_option_normal img {
    /* margin-right: 2px; */
    vertical-align: middle;
  }

  /* ---- Estilo busqueda header ---- */
  .searchBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .searchBar input {
    font-size: 18px;
    padding: 0 0.55rem;
    line-height: 1.5rem;
    outline: 0;
    border-radius: 10px;
    border: 2px solid #51834b;
  }

  .searchBar input:hover {
    border: 2px solid #4c8444b4;
  }

  .searchBar a {
    margin-left: 5px;
    color: black;
  }

  .searchBar .botonBuscarNav:hover {
    font-size: 19px;
  }
}

/* -------------------- MEDIA QUERY 1280px -------------------- */
@media (min-width: 1280px) {
  main {
    min-height: calc(100vh - 285px);
  }
  /* ----PRIMER BLOQUE FOOTER---- */
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .foot_icon_follow {
    color: #ffffff;
    background-color: #2478ba;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
  }

  .fa-facebook-f {
    background-color: #3b5998;
  }

  .fa-instagram {
    background-color: #3f729b;
  }

  .fa-twitter {
    background-color: #55acee;
  }

  /* ----SEGUNDO BLOQUE FOOTER---- */
  .foot_icon_payment {
    font-size: 2.5rem;
    min-width: 2.5rem;
  }

  /* ----TERCER BLOQUE FOOTER---- */
  .section3 p {
    padding-top: 0;
  }

  /* ----CUARTO BLOQUE FOOTER---- */
  .section4 {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1280px) {
  .menu_items_normal {
    min-width: 550px;
  }
}
