
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylessheet" href="css/home.css">
    <title>Home</title>
</head>        

<body>
    <%- include('../partials/header') %>

    <main class="principalHome">
        <section class="section1_slider_home">
            <img class="img_slider_home" src="/images/sliderimg.jpg" alt="slider-imgage"/>
        </section>
        <section class="section2_features_home">
            <div class="featureHome">
                <i class="fas fa-truck"></i>
                <h3>Envío a todo México y USA</h3>
                <p>Envíos gratis a partir de $599 con tiempos de entrega menor a 24 hrs.</p>
            </div>
            <div class="featureHome">
                <i class="fas fa-user-shield"></i>
                <h3>Compra protegida</h3>
                <p>Datos personales protegidos, entrega de producto garantizada.</p>
            </div>
            <div class="featureHome">
                <i class="far fa-life-ring"></i>
                <h3>Increíble servicio al cliente</h3>
                <p>Dispuestos a ayudarte las 24 horas todos los días.</p>
            </div>
        </section>
        <section class="section3_offers_home">
            <h2>Ofertas</h2>
            <div class="products_show_home">
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
            </div>
        </section>
        <section class="section4_category_home">
            <h2>Categoría misteriosa</h2>
            <div class="products_show_home">
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <div class="product_home">
                    <img src="/images/shampoo.JPG" alt="producto">
                    <p class="product-name">Producto de prueba</p>
                    <p class="price">$300.00</p>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
            </div>
        </section>
        <section class="section5_newsletter_home">
            <div class="newsletter_img">
                <img src="/images/deal-hero.png" alt="newsletter image">
            </div>
            <div class="newsletter_info">
                <p class="suscribe_text">Suscríbete a nuestro newsletter y recibe las mejores ofertas en tu email</p>
                <input class="enterEmail" type="text" placeholder="Escribe tu email" required>
                <p>
                    <button class="buttonNewsletter" type="submit">Enviar</button>
                </p>
            </div>
        </section>
        <section class="section6_blog_home">            
            <div class="entradaBlog">
                <a href="#"><img src="/images/shampoo.JPG" alt="producto"></a>
                <h3>Entrada del blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices montes vitae <a href="#">[...]</a></p>
            </div>
            <div class="entradaBlog">
                <a href="#"><img src="/images/shampoo.JPG" alt="producto"></a>
                <h3>Entrada del blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices montes vitae <a href="#">[...]</a></p>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>