<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/productDetail.css" />
    <title>Product Detail</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class = "descripcion">
        <div class="imagenes">
            <img src="/images/shampoo.JPG" id="imagen-principal">
            <img src="/images/shampoo.JPG" id="imagen2"> 
        </div>
        
        <div>
            <h2 class="descripcion-producto">Shampoo de cacao</h2>
            <h2 class="descripcion-producto">$180.00 MXN</h2>

            <div class="input-group">
                <input type="button" value="-" class="button-minus" data-field="quantity">
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
            <div class = "agregar">
                <input type="button" value="AGREGAR AL CARRITO" id="agregar">
            </div>
              


        <p class="descripcion-producto"> 
            Este shampoo protege, fortalece, e hidrata en profundidad. Elaborado a base de cacao puro
            y manteca de cacao, este shampoo es un aliado increíble para cabellos rebeldes, 
            ya que suaviza y repara el cabello.
          
        </p>
        <h3 class="descripcion-producto">Ingredientes:</h3>
            <p class="descripcion-producto">SCI (Sodium Cocoyl Isethionate), Harina de Avena, Proteína de Chícharo,
                Manteca de Cacao, Agua de Rosas, Aceite de Almendras, y Cacao en Polvo.
            </p>
        <h3 class="descripcion-producto">Contenido: 100g</h3>

        <h3 class="descripcion-producto">Modo de uso:</h3>
             <p class="descripcion-producto">
                Humedece tu cabello y aplica directamente. Masajea, y luego enjuaga.
                Tras su uso, enjuaga tu sólido y colócalo en un lugar seco, fresco, y lejos del sol.
             </p>
             
        </div>

                      
    </div>
    <div class="reviews">
        <h3>CUSTOMER REVIEWS</h3>
        <p id="t-reviews">
            "Realmente hidrata el cabello y su aroma es delicioso.
            Lo recomiendo ampliamente."
        </p>
        <input type="button" value="Write a Review" id="write-r">

    </div>

    <div class="t-t-p-i">
        <h2>TAMBIÉN TE PUEDE INTERESAR</h2>
    </div>
    <section class="section_slider_pd">
        <img class="img_slider_pd" src="/images/sliderimg.jpg" alt="slider-imgage"/>
    </section>
    
    <div id="b-regresar">
       <input type="button" value=" ⇦ REGRESAR">
    </div>

 
    <%- include('../partials/footer') %>
</body>
</html>
