<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/dashboard.css">
        <title>Dashboard</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <iframe src="https://dashboard-ecotias.herokuapp.com/" id="myIframe" frameborder="0"> </iframe>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>