<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/crearProduct.css">
    <title>Crear producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Crear producto</h2>
        <form action="/productos" method="POST">
            <div class="crear_producto">
                <div class="field">
                    <label for="name">Nombre</label>
                    <div class="control">
                        <input type="text" name="name" class="input_info"placeholder="Ej: Omeprazole" required>
                    </div>
                </div>
                <div class="field">
                    <label for="category">Categoría</label>
                    <div class="control">
                        <select name="category" id="category" class="input_info" required>
                            <option value="">Seleccionar</option>
                            <option value="Stone">Stone</option>
                            <option value="Vinyl">Vinyl</option>
                            <option value="Brass">Brass</option>
                            <option value="Plexiglass">Plexiglass</option>
                            <option value="Rubber">Rubber</option>
                            <option value="Plastic">Plastic</option>
                            <option value="Granite">Granite</option>
                            <option value="Aluminum">Aluminum</option>
                            <option value="Wood">Wood</option>
                            <option value="Glass">Glass</option>
                            <option value="Steel">Steel</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label for="maker">Fabricante</label>
                    <div class="control">
                        <input type="text" name="maker" class="input_info" placeholder="Ej: Rowe LLC" required>
                    </div>
                </div>
                <div class="field">
                    <label for="price">Precio</label>
                    <div class="control">
                        <input type="number" name="price" class="input_info" step="0.01" placeholder="Ej: 750" required>
                    </div>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <div class="control">
                        <textarea name="description" id="" class="input_info" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label for="image">Imágen</label>
                    <div class="control">
                        <img src="/images/producto_muestra.jpg" alt="producto">
                        <!-- <input type="file" name="image"> -->
                    </div>
                </div>
            </div>
            <div class="buttonAction">
                <div class="control">
                    <button type="submit">Crear producto</button>
                </div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
