<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/createProduct.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="login_content_full">
            <div class="login_content_essential">
                <div class="login_tittle">
                    <h2>Ingresa tu usuario de administrador</h2>
                </div>
                <div class="login_forms">
                    <form action="/" method="POST">
                        <ul class="main-header-bottom-bar">
                        <li class="login_email_p">Usuario: *
                            <input class="login_input" type="text" name="text" required
                             maxlength="6" placeholder="Ingrese su usuario" required>
                        </li>
                        <li class="login_password_p">
                            Password: *
                            <input class="login_input" type="password" name="password" placeholder="Ingrese su contraseña" required>
                        </li>
                        <li class="login_ingresar_boton">
                            <input type="submit" value="Ingresa">
                        </li>
                        </ul>
                    </form>
                </div>
                <ul class="main-header-bottom-bar1"> 
                <li class="login_forgotpwd">
                    <i class="far fa-question-circle"></i> <a href="#">¿Olvidaste tu contraseña?</a>
                </li>
                </ul>
                <div class="bots">
                    <input type="radio" name="modal" id="abrir-modal"><label for="abrir-modal">Añadir</label>
                    <input type="radio" name="modal" id="cerrar-modal"><label for="cerrar-modal">Sal</label>
                    <div id="modal">
                        <h2>Nuevo producto</h2>
                        <li class="ingresa_codigo">Nombre:
                            <input class="input_codigo" type="text" name="codigo" required
                            maxlength="6" required>
                        </li>    
                        <li class="ingresa_descripcion">Descripción:
                            <input class="input_descripcion" type="text" name="descripcion" required>
                        </li>  
                        <li class="ingresa_imagen">Imagen:
                            <input class="input_imagen" type="file" name="imagen" required>
                        </li>     
                        <li class="ingresa_categoria">Categoría:
                            <input class="input_categoria" type="text" name="categoria" required>
                        </li>   
                        <li class="ingresa_tamaño">
                            <label for="tamaño">Tamaño:</label>
                            <select>
                                <option value="tamaño1">Tamaño1</option>
                                <option value="tamaño2">Tamaño2</option>
                                <option value="tamaño3">Tamaño3</option>
                            </select>
                        </li>  
                        <li class="ingresa_precio">Precio de venta:
                            <input class="input_precio" type="text" name="precio" required>
                        </li>  
                        <li class="ingresa_boton">
                            <input class= "input_boton" type="button" name ="Guardar" value="Guardar">
                        </li> 
                    </div>
                    <input type="radio" name="modal1" id="abrir-modal1"><label for="abrir-modal1">Editar</label>
                    <input type="radio" name="modal1" id="cerrar-modal1"><label for="cerrar-modal1">lir</label>
                    <div id="modal1">
                        <h2>Producto</h2>
                        <li class="ingresa_codigo1">Nombre:
                            <input class="input_codigo1" type="text" name="codigo" required
                            maxlength="6" required>
                        </li>    
                        <li class="ingresa_imagen1">
                            <img src="/images/banner_login.jpg" alt="banner">
                        </li> 
                        <li class="ingresa_tamaño1">
                            <label for="tamaño">Tamaño:</label>
                            <select>
                                <option value="tamaño1">Tamaño1</option>
                                <option value="tamaño2">Tamaño2</option>
                                <option value="tamaño3">Tamaño3</option>
                            </select>
                        </li> 
                        <li class="ingresa_descripcion1">
                            <input class="input_descripcion1" type="text" name="descripcion" required>
                        </li>      
                        <li class="ingresa_categoria1">Categoría:
                            <input class="input_categoria1" type="text" name="categoria" required>
                        </li>    
                        <li class="ingresa_precio1">Precio de venta:
                            <input class="input_precio1" type="text" name="precio" required>
                        </li>  
                        <li class="ingresa_boton1">
                            <input class= "input_boton1" type="button" name ="Actualizar" value="Actualizar">
                        </li> 
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>