<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/not-found.css">
    <title>Oops! Producto no encontrado</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h1>Oops!</h1>
        <br>
        <p><i class="fas fa-exclamation-triangle"></i></p>
        <br>
        <h2>Producto no encontrado</h2>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>