.mainNotFound {
    margin: 16px 0;
    text-align: center;
    vertical-align:middle;
}

.mainNotFound h1 {
    font-size: 2.5rem;
}

.fa-exclamation-triangle {
    margin: 8px 0;
    color: red;
    font-size: 3.5rem;
}

/* -------------------- MEDIA QUERY 768px -------------------- */
@media (min-width: 768px) {
    .mainNotFound h1 {
        font-size: 4rem;
    }
    
    .mainNotFound h2 {
        font-size: 3rem;
    }

    .mainNotFound .fa-exclamation-triangle {
        margin: 8px 0;
        color: red;
        font-size: 4rem;
    }

}